{#.}
    <li class="archive-list__item archive-list--year">
        <a href="#" data-ctrl="Common" data-cmd="toggle_archive_list">{year}</a>
        {?months}
            <ul class="archive-list archive-list__sub">
                {#months}
                    <li class="archive-list__item archive-list--month">
                        <a href="#" data-ctrl="Common" data-cmd="toggle_archive_list">{@strtodate value=month format="F" /}</a>
                        {?posts}
                            <ul class="archive-list archive-list__sub">
                                {#posts}
                                    <li class="archive-list__item archive-list--post">
                                        <a href="{url}">{title}</a>
                                    </li>
                                {/posts}
                            </ul>
                        {/posts}
                    </li>
                {/months}
            </ul>
        {/months}
    </li>
{/.}
