// VARIABLES
$svg-color: $theme-color-first;
$svg-color-neg: $theme-color-white;


// SCSS
.article__meta {
    margin-right: $theme-spacing;

    .svg-icon {
        width: 2rem;
        height: 1.5rem;
        stroke: $svg-color;
        stroke-width: 3;
        fill: transparent;
        &.active {
            fill: $svg-color;
        }
    }

    &--date,
    &--comments,
    &--likes {
        display: flex;
        align-items: center;
        float: left;
        margin-right: $theme-spacing;
    }

    &--category {
        clear: both;
        width: 100%;
        text-align: left;
    }
    @supports ( display: grid ) {
        @include breakpoint(xl) {
            &--date,
            &--comments,
            &--likes {
                display: flex;
                align-items: center;
                float: right;
                margin-right: 0;
                margin-left: $theme-spacing;
            }

            &--category {
                clear: both;
                width: 100%;
                text-align: right;
            }
        }
    }
}

.article__content {
    clear: both;
    text-align:justify;
}

.article__after {
    overflow: hidden;
}

.article__tags,
.article__relevant {
    display: block;
    overflow: hidden;
    margin: $theme-spacing 0;
    padding: 0;
    list-style-type: none;

    &--title {
        font-family: $theme-font-family-sans;
    }
}

.article__adjacents {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin: $theme-spacing 0;
    padding: 0;
    list-style-type: none;

    &--title {
        font-family: $theme-font-family-sans;
    }
}

.article__relevant {
    animation-name: reveal-relevant;
    animation-duration: .5s;
    &.shrink {
        display: none;
        animation-name: close-relevant;
        animation-duration: .5s;
    }
}

.article__tag {
    @include button-light();
    display: inline-block;
    margin-right: $theme-spacing;
}

.article__adjacent-link {
    @include button-light();
    display: inline-block;
    margin-right: $theme-spacing;
    .adjancent__arrow {
        animation-name: normal-arrow;
        animation-duration: .5s;
    }

    &:hover {
        .adjancent__arrow {
            padding: 0 .25em;
            animation-name: expand-arrow;
            animation-duration: .5s;
        }
    }
}

.article__relevant--post {
    float: left;
    margin: 0 $theme-spacing-double 0 $theme-spacing;

    &:first-child {
        margin-top: 0;
        margin-left: 0;
    }
}

.article__relevant--post {
    font-size: 1.1em;
    float: none;
    margin: 1em auto;
}

.article__relevant--expand {
    font-size: .75em;
    display: inline-block;
    margin-left: .5em;
    padding: 0 .45em 0 .4em;
    color: $button-text-color;
    text-decoration: none;
    background-color: $button-color;

    &.toggled {
        background: $button-color;
    }
}
