.instagram {

    &__container {
        margin: 0 2vw;
    }
    &__post {
        width: 100%;
        height: 0;
        margin: 1em auto;
        padding-top: 100%;
        background-position: 50% 50%;
        background-size: cover;
    }

    &__header {
        display: inline-block;
    }

    @supports ( display: grid ) {
        @include breakpoint(s, from) {
            &__container {
                display: grid;
                grid-template-columns: repeat(3, 32%);
                grid-column-gap: $theme-spacing;
            }
            &__header {
                grid-column: 1 / span 3;
            }
        }

        @include breakpoint(xl) {
            &__container {
                grid-template-columns: repeat(6, 16%);
            }
            &__header {
                grid-column: 1 / span 6;
            }
        }
    }
}
