.pagination {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    &__wrap {
        width: 100%;
        text-align: center;
    }
    &__item {
        @include button-light();
        float: left;
        margin: $theme-spacing-quarter $theme-spacing-half;
        &--current {
            color: $theme-color-white;
            background-color: $theme-color-first;
            &:hover {
                color: $theme-color-white;
                background-color: $theme-color-first;
            }
        }
    }

    &__link {
        &--current {
            color: $theme-color-white;
            background-color: $theme-color-first;
            &:hover {
                color: $theme-color-white;
                background-color: $theme-color-first;
            }
        }
    }

    .hellip {
        color: $theme-color-first;
        &:hover {
            color: $theme-color-first;
            background-color: $theme-color-white;
        }
    }
    .unavailable {
        cursor: not-allowed;
    }
}
.arrow {
    &__left,
    &__right {
        &--mobile {
            display: block;
            @include breakpoint(m) {
                display: none;
            }
        }
        display: none;
        @include breakpoint(m) {
            display: block;
        }
    }
}
