.sidebar {
    &__item {
        margin-top: 10rem;
    }

    &__loading {
        display: flex;
        align-items: center;
    }

    &__list {
        padding-left: 0;
    }

    &__social-media {
        display: flex;
        justify-content: flex-start;
        margin: $theme-spacing-double 0;
    }

    &__some-link {
        margin-right: $theme-spacing;
        .svg-icon {
            width: $theme-spacing-double;
            height: $theme-spacing-double;
        }
    }
}

.archive-list {
    padding-left: 0;

    &__sub {
        font-weight: 300;
        display: none;
        margin: .5em .75em;
    }

    &__item {
        list-style-type: none;
        &.close {
            font-weight: 300;
            overflow: hidden;
            & > .archive-list__sub {
                display: block;
                animation-duration: .5s;
                animation-name: close-archive;
            }
        }
        &.active {
            font-weight: 400;
            & > .archive-list__sub {
                font-weight: 300;
                display: block;
                animation-duration: 1s;
                animation-name: reveal-archive;
            }
        }

    }

    &--post {
        font-size: 99%;
    }
    &--month {
        font-size: 99%;
    }
    &--year {
        font-size: 1.2em;
    }
}
