// VARIABLES
$topbar-link-color: $theme-color-black;
$topbar-link-hover: $theme-color-light-grey;
$topbar-lines: 		$theme-color-black;
$topbar-bg:    		$theme-color-white;

// SCSS
.hero {
    &__container {
        position: relative;
        width: 100%;
        height: 66.6vw;
        max-height: 100vh;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__mask {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: $theme-color-dark-transparent;

    }

    &__title {
        margin: 0;
        color: $theme-color-white;
        text-align: center;
        text-shadow:  0 0 .1875rem $theme-color-dark-grey;
    }
}

@include breakpoint(m) {
    .hero {
        &__container {
            width: 90vw;
            height: 60vw;
            margin: .5em auto;
        }
    }
}

@include breakpoint(xl) {
    .hero {
        &__container {
            width: 75vw;
            max-width: 60em;
            height: 50vw;
            max-height: 40em;
            margin: $theme-spacing-half auto;
        }
    }
}

.top-bar {
    font-family: $theme-font-family;
    font-size: $theme-font-size-large;
    position: relative;
    width: 100%;
    height: $theme-spacing-triple;
    margin: $theme-spacing-half 0;
    background-color: $topbar-bg;

    &__menu-toggle {
        font-family: $theme-font-family-sans;
        font-size: $theme-font-size-base;
        line-height: 3;
        position: relative;
        display: block;
        float: right;
        text-transform: uppercase;
        text-decoration: none;


        &.open {
            position: fixed;
            top: $theme-spacing;
            right: $theme-spacing;
            z-index: 2;
            color: $theme-color-dark;
        }

        .top-bar__hamburger {
            position: relative;
            float: right;
            width: 2.7em;
            height: 3em;
            margin: 0 1rem;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;

            &:hover .hamburger__line {
                background: $topbar-link-hover;
            }

            & .hamburger__line {
                position: absolute;
                left: 0;
                display: block;
                width: 100%;
                height: .4rem;
                background: $topbar-link-color;
                border-radius: .5rem;
                transform: rotate(0deg);
                opacity: 1;
                transition: .25s ease-in-out;
            }

            & .hamburger__line:nth-child(1) {
                top: .45rem;
                transform-origin: left center;
            }

            & .hamburger__line:nth-child(2) {
                top: 1.3rem;
                transform-origin: left center;
            }

            & .hamburger__line:nth-child(3) {
                top: 2.15rem;
                transform-origin: left center;
            }

            &.open .hamburger__line {
                background-color: $theme-color-dark;
            }

            &.open .hamburger__line:nth-child(1) {
                top: .25rem;
                left: .5rem;
                transform: rotate(45deg);
            }

            &.open .hamburger__line:nth-child(2) {
                width: 0%;
                opacity: 0;
            }

            &.open .hamburger__line:nth-child(3) {
                top: 2.1875rem;
                left: .5rem;
                transform: rotate(-45deg);
            }
        }
    }
}


@include breakpoint( m, from ) {
    .top-bar {
        height: auto;
        text-align: center;
        &__menu-toggle {
            display: none;
        }
    }
}
