// VARIABLES
$topbar-link-color: $theme-color-black;
$topbar-link-hover: $theme-color-light-grey;

// SCSS
.open ~ .menu  {
    z-index: 1;
    display: block;
    animation-name: open-menu;
    animation-duration: .5s;
}

.menu {
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 3em 0;
    background-color: $theme-color-white;
    border-top: 0;
    opacity: 1;
    z-index: 1;

    .menu__item {
        position: relative;
        display: block;
        text-align: center;
    }

    .menu__link {
        display: inline-block;
        padding: .15rem 1rem;
        color: $topbar-link-color;
        text-decoration: none;
        &:hover {
            color: $topbar-link-hover;
            .menu__link--img {
                display: none;
            }
            .menu__link--img-hover {
                display: inline-block;
            }
        }
        &--img-hover {
            display: none;
        }

        &--img {
            width: 2rem;
        }

        &--home::after {
            content: "Home";
        }
    }

    @supports( display: grid ) {
        @include breakpoint(m) {

            .menu__item {
                transform: skew(-20deg);
                &--home {
                    transform: none;
                }
            }

            .menu__link {
                transform: skew(20deg);
                &--home {
                    transform: none;
                }
            }

            .menu__item.active,
            .menu__item:hover {
                transform: none;
                .menu__link {
                    transform: none;

                }
            }
        }
    }
}

.menu-sub {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &__link {
        padding: .15rem 1rem;
    }
}

@include breakpoint(m, from) {

    .menu {
        font-size: 1em;
        position: relative;
        display: inline-block;
        float: none;
        width: auto;
        height: auto;
        margin-bottom: 0;
        padding: 0 1em 0 0;
        background-color: transparent;

        &__link {
            display: inline-block;
            padding-right: 0;
            color: $topbar-link-color;
            &:hover,
            &:focus {
                color: $topbar-link-hover;
            }

            &--home::after {
                content: "" !important;
            }

            &--img {
                height: 2rem;
                &-hover {
                    display: none;
                }
            }
        }

        &__item {
            // Skewed borders for navigation
            float: left;
            margin-top: .55em;
            padding-right: 1em;
            border-left: .2rem solid $topbar-lines;
            &:hover,
            &:focus {
                .menu-sub {
                    display: block;
                }
            }
            &--home {
                border-left: none;
            }
        }
    }

    .menu-sub {
        position: absolute;
        top: 2rem;
        left: -.2rem;
        display: none;
        overflow: hidden;
        width: 12rem;
        margin: 0;
        padding: $theme-spacing 0;
        text-align: left;
        background: $theme-color-white;
        &__item {
            list-style-type: none;
            border-left: .2rem solid $theme-color-first;
        }

        &.active {
            display: block;
        }
    }
}
