// Breakpoint
/// Mixin to manage responsive breakpoints
/// @author Hugo Giraudel
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin breakpoint($breakpoint, $type: "from") {
    $minormax: "min";
    @if $type == "until" {
        $minormax: "max";
    }

    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        $bp: map-get($breakpoints, $breakpoint);
        @if unit($bp) == "em" {
            // Prints a media query based on the value
            @media (#{$minormax}-width: $bp) {
                @content;
            }
        } @else {
            // Do not create media query if breakpoint is 0
            @if $bp == 0 {
                @content;
            } @else {
                @error "The entry in the breakpoints array is not properly defined as ems.";
            }
        }
    } @else {
        @if type-of($breakpoint) == "number" {
            @if unit($breakpoint) == "em" {
                @media (#{$minormax}-width: $breakpoint) {
                    @content;
                }
            } @else {
                @error "Only em units can be passed to the mixin when using a custom breakpoint.";
            }
        } @else {
            @error "Something was passed to breakpoint(), which is not a number, or an entry in the breakpoints array.";
        }
    }
}
