// VARIABLES
$button-color:      $theme-color-first;
$button-text-color: $theme-color-white;

// SCSS
@mixin button() {
    font-weight: 400;
    display: block;
    padding: .5em 1em;
    color: $button-text-color;
    text-decoration: none;
    background-color: $button-color;
}

// SCSS
@mixin button-light() {
    @include button();
    background-color: $theme-color-white;
    border: .1rem solid $button-color;
    &:hover {
        color: $button-text-color;
        background-color: $button-color;
        a {
            color: $button-text-color;
        }
    }
}
