// When sidebar archive opens.
@keyframes reveal-archive {
    from {
        margin-left: 10%;
        opacity: 0;
    }

    to {
        margin-left: .75em;
        opacity: 1;
    }
}


@keyframes close-archive {
    from {
        margin-left: .75em;
        opacity: 1;
    }

    to {
        margin-left: 10%;
        opacity: .1;
    }
}

@keyframes expand-arrow {
    from {
        padding: 0;
    }

    to {
        padding: 0 .25em;
    }
}

@keyframes normal-arrow {
    from {
        padding: 0 .25em;
    }

    to {
        padding: 0;
    }
}

@keyframes rotate-half {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(0.25turn);
    }
}


@keyframes rotate-half-back {
    from {
        transform: rotate(0.25turn);
    }
    to {
        transform: rotate(0turn);
    }
}

// When sidebar archive opens.
@keyframes reveal-relevant {
    from {
        margin-left: 10%;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}


@keyframes close-relevant {
    from {
        margin-left: 0;
        opacity: 1;
    }

    to {
        margin-left: 10%;
        opacity: .1;
    }
}

@keyframes open-menu {
    from {
        right: -10em;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}
