/* -------------------------
FONT FACE INCLUDES
------------------------- */

// Oswald
@import url("https://fonts.googleapis.com/css?family=Oswald");

// EksellDisplay
@font-face {
    font-family: "EksellDisplay";
    font-style: normal;
    src: url("../fonts/EksellDisplayWeb-Medium.eot") format("eot"),
    url("../fonts/EksellDisplayWeb-Medium.woff") format("woff"),
    url("../fonts/EksellDisplayWeb-Medium.woff2") format("woff2");
}
