.wrapper {
    padding: $theme-spacing-half;
    @include breakpoint(l) {
        padding: $theme-spacing;
    }
    @include breakpoint(xl) {
        padding: $theme-spacing-double;
    }
}

.main-container {
    max-width: 40em;
    margin: 0 auto;
}

.content {
    width: 100%;
}

.article {
    position: relative;
    margin-bottom: $theme-spacing;
    padding-bottom: $theme-spacing;
    @include breakpoint(l) {
        margin-top: 5rem;
    }
    @include breakpoint(xl) {
        margin-top: 10rem;
    }
}

.sidebar {
    width: 100%;
}

@supports ( display: grid ) {

    @include breakpoint(s) {
        .wrapper {
            display: block;
        }
    }

    @include breakpoint(m) {

    }

    @include breakpoint(m) {
        .content {
            grid-area: main;
        }

        .sidebar {
            grid-area: sidebar;
        }

        .wrapper {
            display: grid;
            grid-column-gap: $theme-spacing-double;
            grid-template-columns: 2fr 1fr;
            grid-template-areas:
                "main sidebar";
        }
        .article {
            display: block;
        }
    }

    @include breakpoint(xl) {
        .wrapper {
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "main sidebar";
            grid-column-gap: 4em;
        }

        .article {
            display: grid;
            grid-column-gap: 4em;
            grid-template-columns: 1fr 2fr;
            grid-template-areas:
                ". header"
                "meta content"
                ". after";
            &__meta {
                text-align: right;
                grid-area: meta;
            }

            &__content {
                grid-area: content;
            }

            &__header {
                grid-area: header;
            }

            &__after {
                grid-area: after;
            }
        }
    }
}
