/**
 * ---------------------------------
 * ADD THEME SETTINGS HERE
 * ---------------------------------
 */

// Colors
$theme-color-first: #5aaa9f;
$theme-color-second: #fc7c2d;

// Grayscale
$theme-color-black:      #111;
$theme-color-dark:       #606c76;
$theme-color-dark-grey:  #596164;
$theme-color-light-grey: #e3e3e3;
$theme-color-white:      #fff;
$theme-color-dark-transparent:  rgba(0, 0, 0, .3);

// Colors by usage
$theme-color-base-bg: $theme-color-white;
$theme-color-base-text: $theme-color-black;
$theme-color-link: $theme-color-first;

$theme-color-link-hover: darken($theme-color-link, 10);
$theme-color-link-active: darken($theme-color-link, 20);

$theme-color-blockquote: $theme-color-first;

// Move these
$logotext:			$theme-color-first;
$text: 		   		$theme-color-dark;
$jumbo-background: 	$theme-color-light-grey;
$border-color:      $theme-color-first;

// Breakpoints
$breakpoints: (
    xs: 0,
    s:  25em,
    m:  50em,
    l:  80em,
    xl: 100em,
    xxl: 120em,
);

// Spacing units
$theme-spacing: 1rem;
$theme-spacing-quarter: $theme-spacing/4;
$theme-spacing-half: $theme-spacing/2;
$theme-spacing-one-third: $theme-spacing*2/3;
$theme-spacing-two-thirds: $theme-spacing*2/3;
$theme-spacing-three-quarters: $theme-spacing*3/4;
$theme-spacing-oneandhalf: $theme-spacing*3/2;
$theme-spacing-double: $theme-spacing*2;
$theme-spacing-triple: $theme-spacing*3;
$theme-spacing-fourtimes: $theme-spacing*4;

// Use different sizes for margins and padding if needed.
$theme-base-margin: $theme-spacing;
$theme-base-padding: $theme-spacing;

$theme-section-padding: $theme-spacing;

$heading-margin-bottom: $theme-base-margin;

// Font sizes
$theme-base-font-size: 100%;
$theme-base-line-height: 1.6;

$base-font-sizes: (
    "s":   "100%",
    "m":   "100%",
    "l":   "100%",
    "xl":  "100%",
    "xxl": "110%",
    140em: "120%",
    160em: "130%",
    180em: "140%",
    200em: "150%",
    220em: "160%",
);

$theme-font-size-small: .8rem;
$theme-font-size-base: 1rem;
$theme-font-size-large: 1.2rem;

// Headings
$heading-line-height: 1.3;
$heading-sizes: (
    xs: (
        "h1": (2rem),
        "h2": (1.6rem),
        "h3": (1.35rem),
        "h4": (1.2rem),
        "h5": (1.1rem),
        "h6": (1rem),
    ),
    m: (
        "h1": (2.25rem),
        "h2": (1.6rem),
        "h3": (1.35rem),
        "h4": (1.2rem),
        "h5": (1.1rem),
        "h6": (1rem),
    ),
    l: (
        "h1": (2.8125rem),
        "h2": (2.5rem),
        "h3": (2rem),
        "h4": (1.5rem),
        "h5": (1.25rem),
        "h6": (1rem),
    ),
);

// Font families
$theme-font-family: "Georgia", times;
$theme-font-family-mono: monospace, sans-serif;
$theme-font-family-sans: "Oswald", Georgia, times;
$theme-font-weight-base: 300;
$theme-font-weight-semibold: 400;
$theme-font-weight-bold: 700;

// Define and uncomment the following if needed. Remove if not needed.
$heading-font-family: "EksellDisplay", sans-serif;
$heading-font-weight: $theme-font-weight-bold;

// Buttons
/// All button modifications for this theme is done in _buttons.scss.
/// This only here, because it is already used elsewhere.
$theme-btn-font-weight: $heading-font-weight;

// Theme wrapper
$theme-wrapper-width-narrow: 42rem;
$theme-wrapper-width: 57.5rem;
$theme-wrapper-width-wide: 72rem;
