// VARIABLES
$svg-color: $theme-color-first;

// SCSS
.svg-icon {
    display: inline;
    fill: $svg-color;
}

svg {
    display: none;

    &.loading__icon {
        display: inline-block;
        width: 2.5rem;
        fill: $theme-color-first;
    }
}
