// VARIABLES

$theme-color-link: $theme-color-first;
$theme-color-link-hover: darken($theme-color-first, 20);



// Typography
//
// Weight: 1
//
// Theme typography
//
// Styleguide Base.typography
html {
    font-family: $theme-font-family;
    font-size: $theme-base-font-size;
    text-rendering: optimizeLegibility;

    // Adding responosive typography by adjusting the root element's font-size.
    // https://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
    @each $breakpoint, $base-font-size in $base-font-sizes {
        @include breakpoint($breakpoint) {
            font-size: #{$base-font-size};
        }
    }
}

body {
    font-weight: $theme-font-weight-base;
    line-height: $theme-base-line-height;
    color: $theme-color-base-text;

    word-wrap: break-word;
    word-break: break-word;

    background-color: $theme-color-base-bg;

    * {
        word-wrap: inherit;
        word-break: inherit;
    }
}

/**
 * Shared typography settings
 */
address,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
hr,
table,
fieldset {
    margin-top: 0;
    margin-bottom: $theme-spacing;
}

// Paragraph

// Headings
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @if variable-exists(heading-font-family) {
        font-family: $heading-font-family;
    }
    font-weight: $heading-font-weight;
    margin-top: 0;

    @if variable-exists(heading-line-height) {
        line-height: $heading-line-height;
    }

    margin-bottom: $heading-margin-bottom;
    letter-spacing: .1rem;

    @if variable-exists(theme-color-heading) {
        color: $theme-color-heading;
    }
}

@each $heading-size, $heading-size-map in $heading-sizes {
    @include breakpoint($heading-size) {
        @each $heading-selector, $heading-value in $heading-size-map {
            #{$heading-selector},
            .#{$heading-selector} {
                font-size: #{$heading-value};
            }
        }
    }
}


// Links
a {
    color: $theme-color-link;
    text-decoration: none;

    // Fake underline
    // text-shadow: 1px 1px 0 $theme-color-base-bg, -1px 1px 0 $theme-color-base-bg, 2px 0 0 $theme-color-base-bg, -2px 0 0 $theme-color-base-bg;
    // box-shadow: inset 0 -1px 0 0 $theme-color-base-bg, inset 0 -3px 0 0 $theme-color-link;

    @if variable-exists(theme-color-link-visited) {
        &:visited {
            color: $theme-color-link-visited;
        }
    }

    @if variable-exists(theme-color-link-hover) {
        &:hover {
            color: $theme-color-link-hover;
        }
    }

    @if variable-exists(theme-color-link-visited) {
        &:active {
            color: $theme-color-link-active;
        }
    }

}

// List styles
ul,
ol {
    margin-left: $theme-base-margin;

    li {
        margin-bottom: $theme-spacing-quarter;
    }

    li > & {
        margin-bottom: 0;
    }
}

// Unstyled list
.list-unstyled {
    margin-left: 0;
    list-style: none;
}

// Inline list
.list-inline {
    margin-left: 0;
    > li {
        display: inline;
    }
}

// Inline-block list
.list-ib {
    font-size: 0;
    margin-left: 0;

    > li {
        font-size: 1rem;
        display: inline-block;
    }
}

// Inline text elements
//
// Markup:
// <p>You can use the mark tag to <mark>highlight</mark> text.</p>
// <p><del>This line of text is meant to be treated as deleted text.</del></p>
// <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
// <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
// <p><u>This line of text will render as underlined</u></p>
// <p><strong>This line rendered as bold text.</strong></p>
// <p><em>This line rendered as italicized text.</em></p>
// <p><small>This line of text is meant to be treated as fine print.</small></p>
// <h1>Small text inside a h1 tag: <small>this is a bit smaller</small></h1>
// <p><big>Big text. The element has been styled for legacy reasons. Please avoid using it, since it is obsolete and could be removed at any time.</big></p>
b,
strong {
    font-weight: $theme-font-weight-bold;
}

em {
    font-style: italic;
}

small {
    font-size: $theme-font-size-small;
}

big {
    font-size: $theme-font-size-large;
}

// Address
//
// Markup:
//<address>123 Example Street,<br>
//Testville,<br>
//West Madeupsburg,<br>
//CSSland,<br>
//1234</address>
address {
    font-style: italic;
}

// Monospaced
//
// Markup:
// <pre>This is some preformatted text (pre).</pre>
// <p>Here are some inline examples: <code>a fragment of computer code</code>,<br>
// <kbd>user input, typically via keyboard or speech (kbd)</kbd>,<br>
// <samp>program output (samp)</samp><br>
// and a <var>simple variable (var)</var><p>
pre,
code,
kbd,
samp,
var {
    font-family: $theme-font-family-mono;
}

// Quotes
//
// Blockquotes as they are generated by WordPress.
//
// Markup:
// <blockquote><p>Currently WordPress blockquotes are just wrapped in blockquote tags and have no clear way for the user to define a source. Maybe one day they’ll be more semantic (and easier to style) like the version below.</p></blockquote>
// <blockquote cite="http://html5doctor.com/blockquote-q-cite/">
//   <p>HTML5 comes to our rescue with the footer element, allowing us to add semantically separate information about the quote.</p>
//   <footer>
//     <cite>
//       Oli Studholme, HTML5doctor.com
//     </cite>
//   </footer>
// </blockquote>
// <blockquote cite="http://html5doctor.com/blockquote-q-cite/">
//   <p>HTML5 comes to our rescue with the footer element, allowing us to add semantically separate information about the quote.</p>
//   <p>In this example the cite is a link.</p>
//   <footer>
//     <cite>
//       <a href="http://html5doctor.com/blockquote-q-cite/">Oli Studholme, HTML5doctor.com</a>
//     </cite>
//   </footer>
// </blockquote>
blockquote {
    font-weight: $theme-font-weight-bold;
    font-style: italic;
    color: $theme-color-blockquote;

    p {
        &:before {
            content: "“";
        }

        &:after {
            content: "”";
        }

        &:last-of-type,
        &:last-child {
            margin-bottom: 0;
        }

    }

    cite {
        font-size: $theme-font-size-small;
        font-style: normal;
        color: $theme-color-base-text;

        &:before {
            content: "— ";
        }
    }
}
