.for-screen-reader-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0 0, 0 0,0 0, 0 0);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
