// WordPress wysiwyg classes

// Text alignment
.alignleft {
    float: left;
}
.alignright {
    float: right;
}

.aligncenter {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Media alignment
img.alignright,
img.alignleft,
img.aligncenter,
img.alignnone {
    width: 100%;
    margin: .5em 0;
    float: none;
    height: auto;
}


.wp-caption {
    margin: 0;
}

@include breakpoint( xl ) {
  // Only float if not on an extra small device
    img.alignleft,
    .wp-caption.alignleft,
    img.alignright,
    .wp-caption.alignright,
    img.aligncenter,
    .wp-caption.aligncenter,
    img.alignnone,
    .wp-caption.alignone {
      width: calc(100% + 4rem);
      margin: 1em -2rem;
    }
}

// Captions
.wp-caption {
    max-width: 100% !important;
    img {
        max-width: 100% !important;
        object-fit: cover;
    }
}
