{! Article title. H1 if single, H2 if in loop !}
{?Single}
    <h1 class="article__header"> {post_title|s} </h1>
{:else}
   <a href="{url}"><h2 class="article__header"> {post_title|s}</a></h2>
{/Single}
